.container{
    background-color: aqua;
    width:100%;
    height: 100%;
    padding-top: 20px;
}

.body{
    background-color: azure;
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

.createPost{
    margin: 0 auto;
    width:100%;
}

.top{
    margin-left: 10px;
}

.small{
    font-size: 14px;
}