<app-menu-bar></app-menu-bar>
<div class="container">
    <mat-card class="detail">
        <mat-card-title-group>
            <mat-card-title>{{activity.text}}</mat-card-title>
            <mat-card-subtitle>Prazo: {{activity.deadline}}</mat-card-subtitle>
        </mat-card-title-group>
         
    <div *ngIf="isOwner=='false'">
    <mat-card-content *ngIf="!loading">
        Envie sua resposta
        <form>
                <mat-form-field appearance="standard" class="createPost">
                        <mat-label>Escreva aqui</mat-label>
                        <textarea
                            matInput
                            [(ngModel)]="comment"
                            [ngModelOptions]="{standalone: true}"
                            rows="4" >
                        </textarea>
                    </mat-form-field>
                <div class="form-group">
                    <input type="file" class="form-control-file" (change)="getFile($event)" multiple>
                    
                </div>
            </form>
    </mat-card-content>
    <mat-card-actions *ngIf="!loading">
            <button [disabled]="!files" mat-button mat-raised-button (click)="uploadFiles()">Upload</button>
            <button mat-button mat-raised-button (click)="sendAnswer()">Enviar</button>
    </mat-card-actions>
    <div *ngIf="loading">
            <mat-spinner></mat-spinner>
    </div>
    </div>
<div *ngIf="isOwner=='true'">
    <mat-card-content >
            Respostas enviadas
            <mat-list>
                
                <div *ngFor="let ans of activity.answers, index as i">
                        <mat-divider></mat-divider>
                <mat-list-item class="listItem">
                    <div class="interno">
                        <div class="textoInterno">
                        <span>Enviado por: {{ ans.Owner.first_name }}  {{ ans.Owner.last_name }}</span>
                        <br>Comentários: {{ ans.comentary }}</div>
                        <div>
                            <form class="score">
                                <mat-form-field class="formF">
                                    <mat-label>Nota</mat-label>
                                    <input matInput type="number" [(ngModel)]="ans.score" 
                                    [ngModelOptions]="{standalone: true}" class="input">
                                </mat-form-field>
                                <button mat-button mat-raised-button (click)="setScore(ans.id, ans.score)">Avaliar</button>
                            </form>
                        </div>
                        <div class="iconDiv" *ngIf="ans.files.length>0">
                            <mat-icon class="icon" aria-hidden="false" 
                            aria-label="Example home icon">assignment</mat-icon>
                        </div>
                    </div>
                </mat-list-item>
                
                </div>
                <mat-divider></mat-divider>

            </mat-list>
    </mat-card-content>
</div>
    </mat-card>
</div>