<div class="container">
    <div >
    <div *ngIf="data.Owner.username == username" >
        <mat-card>
            <mat-card-actions>
                <mat-card-content>
                    <mat-form-field appearance="standard" class="createPost">
                        <mat-label>Escreva uma atividade</mat-label>
                        <textarea matInput [(ngModel)]="text" rows="4" ></textarea>
                    </mat-form-field>
                    <mat-form-field>
                            <mat-label>Defina o prazo</mat-label>
                           <input matInput [matDatepicker]="picker" [(ngModel)]="date" (ngModelChange)="convertDate()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    <form>
                        <div class="form-group">
                            <input type="file" class="form-control-file" (change)="getFile($event)" multiple>
                        </div>
                    </form>

                    </mat-card-content>
                <button [disabled]="!files" mat-button mat-raised-button (click)="uploadFiles()">Upload</button>
                <button mat-button mat-raised-button (click)="createActivity()">Postar</button>
            </mat-card-actions>
        </mat-card>

                
    </div>


    <div  *ngFor="let a of data.activities, index as i" class="body">
            <mat-card (click)="details(a)" class="cursor">
                <mat-card-title-group>
                    <mat-card-title>{{a.text}}</mat-card-title>
                    <mat-card-subtitle>Prazo: {{a.deadline}}</mat-card-subtitle>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">assignment</mat-icon>
                </mat-card-title-group>
            
            <mat-card-content></mat-card-content>
            </mat-card>
            
    </div>
    </div>
</div>
